In [22]:
import mysql.connector as con

In [23]:
connection = con.connect(user='root', password='root', db='littlelemondb')

In [24]:
cursor = connection.cursor()

In [25]:
show_tables = "show tables"
cursor.execute(show_tables)

In [26]:
results = cursor.fetchall()
for rows in results:
    print(rows[0])

bookings
contactdetails
customers
menucontent
menuitems
menus
orderdeliverystatus
orders
ordersview
roles
staff

In [29]:
customer_details = '''
    SELECT
        c.name as Name,
        cd.Email AS Email,
        cd.phone_number AS PhoneNumber,
        cd.address AS Address,
        cd.country AS Country,
        cd.city AS City,
        o.total_cost AS Cost
    FROM Customers c JOIN ContactDetails cd on c.customer_id = cd.customer_id
    JOIN orders o on c.customer_id = o.customer_id
    WHERE o.total_cost > 60
    ORDER BY o.total_cost DESC;

'''

In [30]:
cursor.execute(customer_details)
data = cursor.fetchall()

In [31]:
print(f'There are {len(data)} customers with more than $60 of spending...')
print('Printing the top 10 spenders...')

for customer in data[:10]:
    print('=' * 50)
    print(f'Full Name: \t {customer[0]}')
    print(f'Email: \t\t {customer[1]}')
    print(f'Phone Number: \t {customer[2]}')
    print(f'Address: \t {customer[3]}')
    print(f'Country: \t {customer[4]}')
    print(f'City: \t\t {customer[5]}')
    print(f'Has spent: \t {float(customer[6])}')

There are 0 customers with more than $60 of spending...
Printing the top 10 spenders...